# Ignore Python virtual environment
.venv/

# Ignore SQLite database file
profiles.db

# Ignore VS Code settings
.vscode/

# Ignore Python cache files
__pycache__/
*.pyc
# Ignore Streamlit secrets
.streamlit/secrets.toml

# Ignore entire Streamlit config/secrets folder (safer)
.streamlit/